{%- extends_admingenerated "NitraPriceAggregateBundle:PriceAggregateEdit:form.html.twig" -%}

{%- trans_default_domain "NitraPriceAggregateBundle" -%}

{% macro help(msg, sample) %}
    <style>
        
</style>
    <div class="form_row">
        <label></label>
        <div class="field_content">
            <span class="help-block">
                {{ msg|trans|raw }}
                <p></p>
                <p>
                    {{ 'settings.templates.helps.sample'|trans }}
                </p>
                <pre>
                    {{ sample|trans|raw }}
                </pre>
            </span>
        </div>
    </div>
{% endmacro %}

{% block form_mainTemplate %}
    {{ parent() }}
    {{ _self.help('settings.templates.helps.main', 'settings.templates.helps.mainSample') }}
{% endblock form_mainTemplate %}

{% block form_categoryTemplate %}
    {{ parent() }}
    {{ _self.help('settings.templates.helps.category', 'settings.templates.helps.categorySample') }}
{% endblock form_categoryTemplate %}

{% block form_productTemplate %}
    {{ parent() }}
    {{ _self.help('settings.templates.helps.product', 'settings.templates.helps.productSample') }}
{% endblock form_productTemplate %}

{% block form_productParametersTemplate %}
    {{ parent() }}
    {{ _self.help('settings.templates.helps.parameters', 'settings.templates.helps.parametersSample') }}
{% endblock form_productParametersTemplate %}